html {
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.Widget {
  &.active {
    border: 2px solid #FFFFFF;
    height: 100%;
    width: 100%;
    @include rounded(1em);
  }
}