#main {
  height: 100%;

  .Home {
    font-family: 'claire_handregular', sans-serif;
    position: relative;
    height: 100%;

    .Clock-wrapper {
      padding: 10px;
      text-align: right;
    }

    .Content {
      @include calc( height, '100% - 95px'); /* minus height of both bars */
      margin-top: 44px;
      overflow-y: auto;

      .Query-wrapper {
        width: 65%;
        float: left;
        min-height: 150px;
        font-size: 4em;
        display: table;

        .Query {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          font-size: 0.3em;
        }
      }
      .Microphone-wrapper {
        width: 30%;
        float: left;
        height: 150px;
        padding-top: 20px;
        text-align: center;

        #microphone-svg {
          width: 150px;
          height: 150px;
          display: inline-block;
          margin-top: 10px;
          transition: all 1s;
          cursor: pointer;
          transform: scale(0.5);
          transform-origin: 20px 20px;
        }
      }

      .Response-wrapper {
        text-align: center;
        width: 80%;
        margin: auto;
      }
    }

    .Socket-wrapper {
      text-align: left;
      position: fixed;
      bottom: 20px;
      right: 70px;
    }
  }
}