#main {
  height: 100%;

  /* Ripple confirmation story */
  .Confirmation {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px; 
    height: 100px;
    margin-left: -50px; 
    margin-top: -50px;

    &.Confirmation-success {
      .Circle {
        border: 2px solid #04B486;
      }
    }

    &.Confirmation-error {
      .Circle {
        border: 2px solid #8A0808;
      }
    }

    @keyframes wave {
      0% { 
        transform: scale(0);
        opacity: 0.0;  
      }
      25% {
        opacity: 0.0;
      }    
      50% {  
        opacity: 1.0;
      }
      75% {  
        opacity: 1.0;
      }    
      100% { 
        transform: scale(1);
        opacity: 0.0; 
      }
    }

    .Circle {
      position: absolute; 
      height: 100px;
      width: 100px;
      border: 1px solid #aaa;
      
      border-radius: 50px;

      animation: wave 3s 1 linear;
      animation-fill-mode: both;

      &:nth-child(2) {
        animation-delay: 1s;  
      }
    }
  }

  .Home {
    font-family: 'claire_handregular', sans-serif;
    position: relative;
    height: 100%;

    .Clock  {
      padding: 13px;
    }

    .Icons-wrapper {
      padding: 10px;
      text-align: right;

      .icon {
        padding: 0;
      }

      .icon-connection {
        width: 15px;
        display: inline-block; 
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    .Content {
      @include calc( height, '100% - 95px'); /* minus height of both bars */
      margin-top: 44px;
      overflow-y: auto;
      
      .slide-group {
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;

        .slide {
          background-color: #FFFFFF;

          &.MainContent {
          }

          &.SideContent {
          }
        }
      }

      .Query-wrapper {
        width: 65%;
        float: left;
        height: 150px;
        font-size: 4em;
        display: table;

        .Query {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          font-size: 0.3em;
        }
      }
      .Microphone-wrapper {
        width: 30%;
        float: left;
        height: 150px;
        padding-top: 20px;
        text-align: center;

        #microphone-svg {
          width: 150px;
          height: 150px;
          display: inline-block;
          margin-top: 10px;
          transition: all 1s;
          cursor: pointer;
          transform: scale(0.5);
          transform-origin: 20px 20px;
        }
      }

      .Response-wrapper {
        text-align: center;
        width: 80%;
        margin: auto;
        position: absolute;
        top: 150px;
        @include calc( height, '100% - 44px - 150px'); /* minus height of both bars */
        left: 10%;

        .Response {
          white-space: normal;
        }
      }
    }

    .Socket-wrapper {
      text-align: left;
      position: fixed;
      bottom: 20px;
      right: 70px;
    }

    .Bar {
      .badge {
        display: inline;
      }
    }
  }
}