.Home {
  .row {
    margin-bottom: 20px;
  }

  .Column {
    @include rounded(1em);
    &.Shadowed-column {
      @include box-shadow(4px 3px 2px 0px rgba(0, 17, 15, 0.75));
    }
  }

  .Widget {
    &.active {
      border: 2px solid red;
      height: 100%;
      width: 100%;
      @include rounded(1em);
    }
  }


  /* Header (first row) */
  .Header {
    .Header-column {
      height: 150px;
    }

    .Logo-wrapper {
      color: #FFFFFF;
    }

    .Meteo-wrapper {
      background-color: #93B9B5;
    }

    .Time-wrapper {
      background-color: #003630;

      .Clock {
        color: #D6A8B0;
        font-size: $font-huge;
      }
    }
  }

  /* Menus (second row)*/
  .Menus {
    height: 200px;

    .Menus-column {
      height: 150px;
      background-color: #0D564E;
    }
  }

  .Content {
    height: 800px;
  }
}