@import 'variables';
@import 'mixins';
@import 'common';

/* Bootstrap import */
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

/* Import specific stylessheets */
@import 'home';

/* Generic style */
.html, body {
  background-color: #277069;
}

.main {
  width: calc(100% - 50px);
  padding: 50px;
}

